.btn {
  position: relative;
  display: inline-block;
  font-weight: $btn-font-weight;
  line-height: $btn-line-height;
  color: $body-color;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  background-image: none;
  border: $btn-border-width solid transparent;
  @include button-size($btn-padding-y,  $btn-padding-x,  $btn-font-size,  $border-radius);
  cursor: pointer;
  transition: $btn-transition;
  &.disabled,
  &[disabled] {
    cursor: not-allowed;
    opacity: $btn-disabled-opacity;
    box-shadow: none;
    > * {
      pointer-events: none;
    }
  }
  border-radius: 12px;
  margin: 32px; // remove
}

.btn-lg {
  @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $btn-font-size-lg, $btn-border-radius-lg);
}
.btn-sm {
  @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-border-radius-sm);
}

.btn-primary {
  @include button-style($primary, $primary, $primary-text, white)
}

.btn-danger {
  @include button-style($danger, $danger, $white, $danger-text, $danger-hover)
}

.btn-default {
  @include button-style($white, $gray-400, $body-color, $white, $primary, $primary)
}

.btn-link {
  font-weight: $font-weight-normal;
  color: $primary-text;
  text-decoration: $link-decoration;
  box-shadow: none;
  outline: none;
  border: none;
  background: none;
  &:hover {
    color: $btn-link-hover-color;
    text-decoration: $link-hover-decoration;
  }
  &:focus,
  &.focus {
    text-decoration: $link-hover-decoration;
    box-shadow: none;
    outline: none;
    border: none;
    background: none;
  }
  &:disabled,
  &.disabled {
    color: $btn-link-disabled-color;
    pointer-events: none;
  }
}

.btn-default-cc {
  //background: linear-gradient(145deg, #b5c8da, #d7eeff);//cc
  background: #DFECF4;//cc
  //background: linear-gradient(145deg, #d7eeff, #b5c8da); //cv
  border: 1px solid #e6f1f9;
  box-shadow: $box-shadow-n-de;
}

.btn-default-cv {
  //background: linear-gradient(145deg, #b5c8da, #d7eeff);//cc
  //background: #DFECF4;//cc
  background: linear-gradient(145deg, #effdff, #c9d4dc); //cv
  border: 1px solid #e6f1f9;
  box-shadow: $box-shadow-n-de;
}

.btn-primary-cc {
  background: $primary-cc;
  border: 1px solid #cde7ff;
  box-shadow: $box-shadow-n;
}

.btn-primary-cv {
  background: $primary-cv;
  border: 1px solid #cde7ff;
  box-shadow: $box-shadow-n;
}

.btn-danger-cc {
  background: $danger-cc;
  box-shadow: $box-shadow-n;
}

.btn-danger-cv {
  background: $danger-cv;
  box-shadow: $box-shadow-n;
}
